.banner-img{
    height: auto;
    width: 50%;
    border-radius: 20px;
}
*{
    padding-left: 10px;
    background-color: #FFFDD0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}