.sec1 {
  background-color: rgba(0, 0, 128, 0.681);
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 75px;
}
body {
  margin: 0%;
}

.header {
  display: flex;
  padding: 5px;
}

.header-logo {
  flex: auto;
}

.header-logo-img {
  width: 30%;
}

.header-links {
  flex: auto;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
a:link,
a:visited {
  color: antiquewhite;
  text-decoration: none;
}

.content {
  display: flex;
  gap: 10px;
}

.sec1-content-text,
.sec1-content-img {
  flex: auto;
}

.sec1-content-text {
  max-width: 50%;
}

.sec1-content-img {
  display: flex;
  justify-content: center;
}

.sec2 {
  background-color: rgba(75, 0, 128, 0.681);
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 75px;
}
.sec2-title-wrapper {
  display: flex;
  justify-content: center;
}
.sec2-infos {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sec2-item-imgs {
  width: 150px;
}

.sec2-info-item-subtexts {
  text-align: center;
}

.sec3 {
  background-color: rgba(50, 50, 50);
  padding: 0px 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec3-quote {
  color: aliceblue;
  font-style: italic;
  padding-bottom: 0px;
  text-align: center;
}

.sec3-quote-author {
  color: aliceblue;
  text-align: right;
}

.sec4 {
  color: antiquewhite;
  height: 150px;
  padding: 0px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec4-call-wrapper {
  color: black;
  height: 75px;
  padding: 20px 50px;
  background-color: aquamarine;
  display: flex;
  gap: 700px;
}

.button-section {
  display: flex;
  align-items: center;
}

.action-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
}

.call-title {
  margin: 0;
}
.call-text {
  text-align: start;
  margin: 5px;
}

.footer {
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
