.sec1 {
  background-color: rgba(0, 0, 128, 0.681);
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 75px;
}
body {
  margin: 0%;
}

.header {
  display: flex;
  padding: 5px;
}

.header-logo {
  flex: auto;
}

.header-logo-img {
  width: 25%;
}

.header-links {
  flex: auto;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
a:link,
a:visited {
  color: antiquewhite;
  text-decoration: none;
}

* {
  border: 1px solid red;
}

.content {
  display: flex;
  gap: 10px;
}

.sec1-content-text,
.sec1-content-img {
  flex: auto;
}

.sec1-content-text {
  max-width: 50%;
}

.sec1-content-img {
  display: flex;
  justify-content: center;
}

.sec2 {
  background-color: rgba(75, 0, 128, 0.681);
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 75px;
}
.sec2-title-wrapper {
  display: flex;
  justify-content: center;
}
.sec2-infos {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sec2-item-imgs {
  width: 150px;
}

.sec2-info-item-subtexts {
  text-align: center;
}

.sec3 {
  background-color: rgba(05, 107, 128, 0.681);
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec3-quote {
  font-style: italic;
  padding-bottom: 0px;
  text-align: center;
}

.sec3-quote-author {
  text-align: right;
}
